
body {
    
    height: 100vh;
    margin: 0; 
    padding: 0; 
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    display: grid;
    gap: 25px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 3rem;
    width: fit-content;
}
.item {
    display: flex;
    align-items: center;
    justify-content: center;
}
#image1 {
    width: 600px;
    height: 400px;
}
#image2, #image3{
    height: 180px;
    width: 290px;
}
.image1 {
    grid-area: 1 / 1 / 3 / 2 ;
}
.image2 {
    grid-area: 1 / 2 / 1 / 3;
}
.image3 {
    grid-area: 2 / 2 / 2 / 3;
}
.shop-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    
}
.index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2.3rem;
    max-width: 120px;
}
.product-image {
    width: 140px;
}
.button {
    width: 120px;
    margin-top: 20px;
    background-color: #387ADF;
    border: none;
    color: white;
    padding: 10px ;
    cursor: pointer;
}
.footer {
    margin-bottom: 8rem;
}
.footer-container {
    background-color: #efefef;
    margin: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

}
.slide-container {
    text-align: center;
    overflow-x: hidden; 
    max-width: 100%;
    box-sizing: border-box;
}

.card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.price {
    color: #387ADF;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    max-width: 200px;
    max-height: fit-content;
    margin: 10px;
}
.swiper-navBtn {
    position: fixed;
    height: 40px !important;
    width: 40px !important;
    border-radius: 50%;
    background-color: #c7c7c7;
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
}
.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: small !important;
}
@media screen and (max-width: 480px) {
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #image1, #image2, #image3 {
        width: 300px;
        height: 250px;
    }
    .shop-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .index {
        display: grid;
        grid-template-columns: 1fr auto; 
        align-items: center; 
        justify-content: center;
        gap: 20px;
    }
    .product-image {
        grid-area: 1 / 1 / 3 / 1; 
        width: 150px;
        height: 100px;
    }
    .button{
        grid-area: 2 / 2 / 2/2;
        text-align: left;
        background-color: white;
        color: #387ADF;
        margin-top: -35px;
    }
    .title{
        grid-area: 1 / 2 / 1 /2;
        text-align: left;
    }
}
@media (min-width: 481px) and (max-width: 767px) {

    .container {
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: auto; 
        gap: 10px;
    }
    .image1 {
        grid-area: 1 / 1 / 2 / 3;
    }
    .image2 {
        grid-area: 2 / 1 / 3 / 2;
    }
    .image3 {
        grid-area: 2 / 2 / 3 / 3; 
    }
    .shop-group{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 768px) and (max-width: 1025px) {
    .container {
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: auto; 
        gap: 10px;
    }
    .image1 {
        grid-area: 1 / 1 / 2 / 3;
    }
    .image2 {
        grid-area: 2 / 1 / 3 / 2;
    }
    .image3 {
        grid-area: 2 / 2 / 3 / 3; 
    }
    .shop-group{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}